.bg-gray {
    background-color: gray;
}
.bg-green {
    background-color: #4BA3A1;
}
.bg-blue {
    background-color: #1A4567;
}
.rem1 {
    font-size: 1rem;
}
.rem1p5 {
    font-size: 1.5rem;
}
.rem2 {
    font-size: 2rem;
}
.display-inline {
    display: inline!important;
}

/* effect */
.hover {
cursor: pointer;
}

.hover:hover {
    opacity: 0.9;
}

/* media */
@media only screen and (max-width: 480px) {
    h2 {
        font-size: 1.5rem;
    }

    .total-withdraw {
        font-size: 1rem;
    }
}